.seed-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.seed-container .seed-content {
  top: 50px;
  overflow: auto;
}
.seed-bg {
  background-color: white;
}
.navbar-blank {
  background-color: transparent;
  border-color: #e7e7e7;
}
